# dependências
/node_modules

# build do Next.js
/.next
/out

# produção
/build

# diversos
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ambiente
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts
